<div class="row">

    <div class="col-md-12"></div>
    <div class="row" id="serviceTableBody"></div>


</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

@section Scripts {
    <script src="~/js/service.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
